# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# Windows
# ===========================
Thumbs.db
Desktop.ini

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# ===========================
# VSCode
# ===========================
.vscode/

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# Test / Cache
# ===========================
.pytest_cache/
.coverage
htmlcov/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

uploads/